* {
  margin: 0;
  padding: 0;
  /* Propiedades de espassamento, melhores alinhamentos */
  box-sizing: border-box;
}

.container {
  background-color: darkcyan;
  min-height: 100vh;
  /* Colocou as divs em linha */
  display: flex;
  /* Mesmo flex, ela vai ficar em coluna */
  flex-direction: row;
  /*inverte tudo, a ordem dos itens e onde está fixado. 
  flex-direction: column-reverse; */
  /* flex-direction: row; */
  /* Gap é o espaçamento entre os itens (junção do column e row gap) */
  /* Se estiver em coluna e você quiser seprarar os itens é row-gap e visse-versa */
  column-gap: 10px;
  /*  justify-content: é o alinhamento dos itens, pode ser start, end, center... o space arround vai fazer com que eles fiquem com o mesmo espaço na esqueda e na direita. o space between vai separar os itens o maximo possivel. o space-evenly vai separar eles com distancia igual  */
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; serve para se a tela quebrar, ela vai se ajustar ao tamanho. */
  flex-wrap: wrap;
}

.item {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  background-color: white;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
