* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  color: white;
}

header {
  overflow: auto;
  background-color: rgba(65, 65, 230, 0.849);
  margin: auto;
  width: 100%;
  padding: 20px;
  font-size: 20px;
}

ul {
  float: right;
}

li {
  float: left;
  padding: 10px;
}

.logo {
  padding: 10px;
  float: left;
}

@media screen and (max-width: 600px) {
  header {
    font-size: 22px;
  }
  .logo {
    float: none;
    text-align: center;
    background-color: darkblue;
  }

  ul,
  li {
    text-align: center;
    float: none;
    padding: 10px;
    margin-bottom: 5px;
  }
}
